.game-requirements {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.game-req {
  padding: 10px;
}

.game-req > *:first-child {
  margin: 0;
}

@media only screen and (min-width: 700px) {
  .game-req:nth-child(4n + 1),
  .game-req:nth-child(4n + 4) {
    background-color: var(--bg-clr-light);
  }

  .game-req:nth-child(4n + 2),
  .game-req:nth-child(4n + 3) {
    background-color: var(--bg-clr-lighter);
  }
}

@media only screen and (max-width: 700px) {
  .game-requirements {
    display: flex;
    flex-direction: column;
  }
  .game-req:nth-child(odd) {
    background-color: var(--bg-clr-light);
  }

  .game-req:nth-child(even) {
    background-color: var(--bg-clr-lighter);
  }
}
