.search-bar-root {
  display: flex;
  flex: 1;
}

.search-bar-container {
  display: flex;
  flex-direction: column;
  position: relative;

  width: 100%;

  .search-results-container {
    position: absolute;
    top: 44px;
    width: 100%;

    z-index: 2;
  }
}

.search-input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
