nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  padding: 10px;

  background-color: var(--main-bg-clr);

  position: sticky;
  top: 0px;
  z-index: 2000;

  & > * {
    display: flex;
    gap: 10px;
  }

  .nav-tools {
    flex: 1;
    justify-content: flex-end;
  }
}

@media only screen and (max-width: 700px) {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }

  .nav-tools {
    justify-content: stretch;
  }
}
